/* @import "@font/nunito"; */


/*
 * [2022/2023]
 * 01UDFOV Applicazioni Web I / 01TXYOV Web Applications I
 * Lab 10
 */


 body {
  /* font-family: var(--fontFamily-nunito); */
  font-family: 'Nunito', sans-serif;
}
p{
  margin-bottom: 5px;
}

/* Global */
.vheight-100 {
  min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
  padding: 1rem;
  background-color:#00002c;
}
.navbar-brand{
  font-weight: 600;
  font-size: 30px;
}
.links-wid a{
  color: #fff;
}
a{
  text-decoration:none
}
.below-nav {
  padding-top: 5rem;
}

/* Icons */
.icon-size {
  font-size: 1.5rem;
}

/* Filters and projects */
.list-group-item {
  background-color: transparent;
}

.list-group-item.active {
  background-color: #055c9d;
  border-color: #055c9d;
}

.list-group-item-action:hover {
  background-color: #0e86d4;
  color: white;
}

small.watch-date {
  text-align: right;
}

.projects-title {
  margin-top: 2rem;
}

.notbold {
  font-weight: normal;
}

/* Class for important tasks */
.favorite {
  color: red;
}

/* Changing color when mouse is hover certain elements suggests that interaction is possible */

.bi-star:hover {
  fill: #0e86d4;
  color: #055c9d;
}

.bi-star-fill:hover {
  fill: #0e86d4;
  color: #055c9d;
}

/*
 * NOTE: HTML collapses multiple withespaces into one, so "Hello      world!" becomes "Hello world!".
 * If you want to keep them use white-space: pre-wrap;
 */
.keep-white-space {
  white-space: pre-wrap;
}

/* Add task button */
.fixed-right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    background-color: #ff9517;
    border-color: #ff9517;
    color: #00002c;
}

.fixed-right-bottom:hover{
  background-color: #ff9517;
  border-color: #ff9517;
  color: #00002c;
}

/* Adding padding to form */
.form-padding {
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}

.images-div img{
  width: 130px;
  height: 100%;
}
.block-image{
  width: 100px;
}
.header-adder{
  margin-bottom: 10px;
}
.header-plus{
  margin-right: 5px;
}
.links-wid{
  width: 350px;
}
.page-boxes{
  border: 1px solid #f0f0f0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 10px;
  margin-right: 5px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.page-title{
  font-weight: bold;
}
.action-btns{
  padding: 7px;
  line-height: 5px;
}
.btns-area{
  text-align: right;
  margin-top: 2rem;
}
.btns-area .action-btns{
  margin-right: 5px;
}
.image-selection{
  display: inline;
}
.submit-form{
  float: right;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    background-color: #ff9517;
    border-color: #ff9517;
    color: #00002c;
}
.submit-form:hover{
  background-color: #ff9517;
  border-color: #ff9517;
  color: #00002c;
}
.all-title{
  font-weight: 700;
  margin: 40px 10px;
  font-size: 31px;
  text-align: center;
}
.block-adder h4{
  margin-right: 10px;
}
#formGridState{
  width: 300px;
  margin-right: 1rem;
  border-color: #aeaeae;
}
select{
  border-color: #aeaeae;
}
.add-block-btn{
  background-color: #00002c;
  border-color: #00002c;
}
.add-block-btn:hover{
  background-color: #00002c;
  border-color: #00002c;
}
.add-block-btn:disabled{
  background-color: #00002c;
  border-color: #00002c;
}
.added-blocks-title{
  margin-bottom: 2rem;
}
.detail-btn{
  background-color: #ff9517;
    border: 1px solid #ff9517;
    color: #00002c;
}
.detail-btn:hover{
  background-color: #ff9517;
    border: 1px solid #ff9517;
    color: #00002c;
    font-weight: 600;
}
